# Virtual environments
.venv/
venv/

# Environment variables files
.env
.env.*
!.env.example

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/
